@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    font-size: 18px;
}

h2 {
    font-size: 24px;
}

.container {
    width: 940px;
    margin: auto;
}

header {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 30px;
}

.menu a {
    font-size: 16px;
    color: #111111;
    line-height: 26px;
    text-decoration: none;
    padding: 15px;
}

.presentation {
    background-color: #FBDFDB;
    border-radius: 30px;
    display: grid;    
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
}

.introduction {
    width: 316px;
    margin: auto;
}

.introduction h1 {
    color: #111111;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.introduction p {    
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}

.presentation img {
    width: 216px;
    height: 300px;
    margin: auto;
    padding: 66px 0 0 70px;
}

.most-viewed {
    padding: 20px 0;
}

.most-viewed h2 {
    margin-top: 20px;
}

.recipes {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe {
    width: 300px;
}

.recipe-image img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.recipe-name {
    margin-bottom: 5px;
}

.recipe-author {
    color: #777777;
    font-size: 14px;
    margin-bottom: 10px;
}

footer {
    background-color: #eeeeee;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 23px;
    margin-top: 50px;
}

/* --- MODAL --- */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

.modal-overlay.active {
    visibility: visible;
}

.modal {
    background-color: #ffffff;
    opacity: 1;
    width: 660px;
    height: 413px;
    border-radius: 16px;
    margin: 15vh auto;
    position: relative;
    padding: 30px;
}
.modal-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

.modal-content img {
    width: 100%;
    height: 60%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.modal-recipe-name {
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
}

.modal-recipe-author {
    text-align: center;
    color: #777777;
    font-size: 18px;
}

.close-modal {
    text-align: center;
    margin-top: 60px;
}

.close-modal a {
    color: #999999;
    font-size: 16px;
    cursor: pointer;
}


/* === SOBRE === */
.about {
    margin: 50px 0;
}

.about p {
    color: #444444;
    margin-top: 20px;
    line-height: 28px;
}

.about h3 {
    margin-top: 30px;
}