{% extends 'layout.njk' %}

{% block content %}

    <h2>Buscando por "{{filter}}"</h2>
    <div class="search-recipes">
        {% for recipe in recipes %}
        <div class="recipe" id='{{recipe.id}}'}>
            <div class="recipe-image">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
            </div>
            <div class="recipe-info">
                <p class="recipe-name">{{recipe.title}}</p>
                <p class="recipe-author">por {{recipe.chef_name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

{% endblock %}
