<div class="item">
    <div class="field-title">Nome *</div>
    <input
        type="text"
        name="name"
        value="{{chef.name}}"
    />
</div>

<div class="item">
    <div class="field-title">Avatar *</div>
    {% if avatar %}
        <div id="avatar-path">{{avatar.path}}</div>
    {% endif %}
    <div id="avatar-upload">
        <input 
            id="avatar-input"
            type="file" 
            name="avatar"
            accept="image/*"
            onload="PhotosUpload.handleFileInput(event)"
        >
        <p>Enviar Avatar</p>
    </div>
</div>