{% extends 'layout.njk' %}
{% import "parts/section-recipes.njk" as section %}

{% block content %}

    <section class="presentation">
        <div class="introduction">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="image-container">
            <img src="assets/chef.png" alt="Chef">
        </div>
    </section>

    {{section.recipes('Mais acessadas', '', 'most-viewed', recipes)}}
    
{% endblock %}
