{% extends 'layout.njk' %}
{% import "parts/section-recipes.njk" as section %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    {{section.recipes('', '', 'recipes-section', recipes)}}

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
    ></div>

{% endblock %}