{% extends 'layout.njk' %}
{% import "parts/section-recipes.njk" as section %}

{% block content %}

    {{section.recipes('Buscando por ', filter, 'recipes-search', recipes)}}

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

{% endblock %}
