{% extends 'layout_admin.njk' %}

{% block content %}
<form action="/admin/chefs" method="post" enctype="multipart/form-data">

    <h2>Criando chef</h2>
    <button class="button" type="submit">Salvar chef</button>

    {% include 'admin/chef/fields.njk' %}

</form>
{% endblock %}