{% extends 'layout_admin.njk' %}

{% block content %}
    <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">

        <h2>Editando chef</h2>
        <button class="button" type="submit">Salvar chef</button>

        {% include 'admin/chef/fields.njk' %}

        <input
            type="hidden"
            name="id"
            value="{{chef.id}}"
        >
    </form>

    <form id="form-delete" action="/admin/chefs?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{chef.id}}>
        <button type="submit" class="button delete">Deletar</button>
    </form>

    <script>
        const formDelete = document.querySelector('#form-delete')
        formDelete.addEventListener('submit', function(event) {
            const confirmation = confirm("Tem certeza que quer deletar esta receita?")
            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>
{% endblock %}