:root {
    --button-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;

    text-decoration: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    font-size: 18px;

    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    display: inline;
}

.container {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}