{% extends 'layout_admin.njk' %}

{% block content %}
<form action="/admin/recipes/create" method="post" enctype="multipart/form-data">

    <h2>Criando receita</h2>
    <button class="button" type="submit" onclick="Validate.allFields(event)">Salvar receita</button>

    {% include 'admin/recipe/fields.njk' %}

</form>
{% endblock content %}