{% extends 'layout_admin.njk' %}

{% block content %}
    
    <form action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">
        <h2 style="display: inline">Editando receita</h2>
        <button class="button" type="submit">Salvar receita</button>
        
        {% include 'admin/recipe/fields.njk' %}

        <input
            type="hidden"
            name="id"
            value="{{recipe.id}}"
        >
    </form>

    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{recipe.id}}>
        <button type="submit" class="button delete">Deletar</button>
    </form>

    <script>

        const formDelete = document.querySelector('#form-delete')
        formDelete.addEventListener('submit', function(event) {
            const confirmation = confirm("Tem certeza que quer deletar esta receita?")
            if (!confirmation) {
                event.preventDefault()
            }
        })
    
    </script>

{% endblock content %}