<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "parts/styles.njk" %}

    {% block head %}
        <title>Foodfy - Admin</title>
    {% endblock%}

</head>
<body>
    {% include "parts/messages.njk" %}

    {% include "parts/header_admin.njk" %}

    <div class="container">

       {% block content %}{% endblock %}
       
    </div>

    <script src="/scripts.js"></script>

</body>
</html>