<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "parts/styles.njk" %}

    {% block head %}
        <title>Foodfy</title>
    {% endblock%}

</head>
<body>
    <div class="container">
        {% include "parts/messages.njk" %}

        {% include "parts/header.njk" %}

        {% block content %}{% endblock %}
       
    </div>

    {% include "parts/footer.njk" %}

    <script src="/scripts.js"></script>
</body>
</html>