<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block head %}
    <title>Foodfy - Admin</title>
{% endblock%}

</head>
<body>
    <header class="admin-header">  
        <img src="/assets/logo_white.png" alt="Foodfy">
        <nav class="menu-admin">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </nav>
    </header>

    <div class="container">

       {% block content %}
       {% endblock %}
       
    </div>

    <script src="/scripts.js"></script>

</body>
</html>