<header class="admin-header">  
    <img src="/assets/logo_white.png" alt="Foodfy">
    <nav class="menu-admin">
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
        {% if userIsAdmin %}
            <a href="/admin/users">Usuários</a>
        {% else %}
            <a href="/admin/users">Perfil</a>
        {% endif %}
    </nav>
    <form  action="/admin/users/logout" method="POST">
        <button class="exit">Sair</button>
    </form>
</header>