<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/styles/index.css">

<link rel="stylesheet" href="/styles/page/page-header.css">
<link rel="stylesheet" href="/styles/page/page.css">
<link rel="stylesheet" href="/styles/page/pagination.css">

<link rel="stylesheet" href="/styles/admin/admin-header.css">
<link rel="stylesheet" href="/styles/admin/recipes.css">
<link rel="stylesheet" href="/styles/admin/chefs.css">
<link rel="stylesheet" href="/styles/admin/users.css">
<link rel="stylesheet" href="/styles/admin/session.css">

<link rel="stylesheet" href="/styles/admin/field-errors.css">
<link rel="stylesheet" href="/styles/admin/messages.css">
